@{
    ViewData["Title"] = "Home Page";
}

<section class="d-flex align-items-center mt-5">
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1 class="display-3 fw-bold">Hi.. </h1>
                <h4 class="display-6">
                    My name is
                    <p class="fw-bold" style="color:midnightblue">Indrawan Heri Prabowo</p>
                </h4>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/exams.svg" class="d-block mx-auto img-fluid" width="350px" alt="" />
            </div>
        </div>
    </div>

</section>
