body {
    padding-top: 55px;
}

.double {
    padding: 5px;
    height: 50%
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

h1 {
    letter-spacing: 3px;
}

.circle {
    margin-left:23%;
    padding: 75px;
    position: absolute;
    background-color: darkgray;
    border-radius: 50%;
    top: 6%;
    /*z-index: -1;*/
    border:2px solid;
}

#img-poke {
    /*border: 1px solid;*/
    position:relative;
    width:150px;
    height:150px;
    margin-top:25px;
    margin-right:auto;
    margin-left:auto;
    z-index:1;
}

#card-poke {
    background-color: whitesmoke;

}

.card {
    border-radius: 7% 7% 7% 7%;
}

.poke-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 4px solid #fff;
    backface-visibility: hidden;
    /* transform-style: preserve-3d; */
}

.poke-stat {
    background-color: #616161;
    color: white;
    border: 4px solid #464646;
}

.poke-stats-name {
    font-weight: bold;
    font-size: 0.8rem;
}

.poke-stats-bar {
    width: 70%;
    height: 8px;
    margin-bottom: 15px;
    /* border: 1px solid black; */
}