@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AuthLayout";
}

<section>
    <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-start">
                            <h4 class="font-weight-bolder">Sign In</h4>
                            <p class="mb-0">Enter your email and password to sign in</p>
                        </div>
                        <div class="card-body">
                            <form role="form" method="POST" action="Login/Auth" class="needs-validation" id="formLogin" novalidate>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" name="Email" placeholder="Email" aria-label="Email" required>
                                    <div class="input-group-text">
                                        <span class=" fas fa-envelope"></span>
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" name="Password" placeholder="Password" aria-label="Password" required>
                                    <div class="input-group-text ">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                    <div class="invalid-feedback">
                                        Password cannot be empty.
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" id="btn_login" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">
                                Don't have an account?
                                <a asp-action="Register" asp-asp-controller="Home" class="text-primary text-gradient font-weight-bold">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute mt-4 end-0 text-center justify-content-center flex-column">
                    @*<div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');*@
                    <div class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden">
                        <img src="~/img/working_late.svg" alt="" />
                        <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
                        <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        console.log("Login");
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}